.tecnologias {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.tecnologias__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tecnologias__card {
    background: transparent;         /* fundo transparente */
    border: 1px solid #334155;       /* borda fina em cinza-azulado */
    border-radius: 8px;              /* cantos levemente arredondados */
    padding: 16px 20px;
    color: #e2e8f0;                  /* texto claro */
    display: flex;
    flex: 1 1 calc(20% - 12px);
    align-items: center;
    text-align: left;
    gap: 8px;                        /* espaço entre ícone e texto */
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.tecnologias__card:hover {
    border-color: #38bdf8;           /* azul claro no hover */
    background: rgba(56, 189, 248, 0.1); /* leve fundo azul translúcido */
    transform: translateY(-3px);     /* efeito sutil de flutuar */
}

.tecnologias__card i,
.tecnologias__card svg {
    font-size: 1.2rem;
    color: #38bdf8
}




.tecnologias__card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tecnologias__card p {
    color: ;
    font-size: 1rem;
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .tecnologias__cards {
        flex-direction: column;
        align-items: center;
    }

    .tecnologias__card {
        width: 80%;
        margin-bottom: 20px;
    }
}
